name: test

on:
  pull_request:
    types: [closed]

jobs:
  testjob:
    if: |
      ( github.event.pull_request.merged == true ) &&
      ( ( github.base_ref == 'main' ) || ( github.base_ref == 'dev' ) )
    runs-on: windows-latest
    steps:

      - name: Checkout Base Repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.base.ref }}
          path: base

      - name: Checkout Head Repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          path: head

      # Execute the build PowerShell script
      - name: Execute build script
        shell: powershell
        run: .\head\Build\test.ps1
      
      - name: List Remotes
        shell: powershell
        run: |
          Set-Location -Path base
          git remote -v
          git fetch origin
          git branch -a

      - name: Rebase dev
        if: github.base_ref == 'main'
        shell: powershell
        run: |
          Set-Location -Path base
          git remote -v
          git checkout dev
          git fetch main
          git rebase main
          git push dev --force
