name: test

on:
  pull_request:
    types: [closed]

jobs:
  testjob:
    if: github.event.pull_request.merged == true
    runs-on: windows-latest
    steps:

      - name: Checkout Base Repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.base.ref }}
          path: base

      - name: Checkout Head Repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          path: head

      # Execute the build PowerShell script
      - name: Execute build script
        shell: powershell
        run: .\Build\test.ps1
